{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 text-center">
        <img class="img-responsive center-block" src="{{ dicom.thumbnail_url }}" /><br />
        <a href="{{ dicom.filename_url }}">Download</a><br /><br />
    </div>
    <div class="col-md-6 col-md-offset-3">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
        {% for data_element in dicom.data_elements %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ data_element.name }}</td>
                <td>{{ data_element.value }}</td>
        {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
