{% extends "bootstrap/base.html" %}
{% block title %}DICOM Flask Uploader{% endblock %}

{% block navbar %}
    <div class="navbar navbar-static-top">
      <div class="container">
        <button class="navbar-toggle">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">DICOM Uploader</a>
      </div>
    </div>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img class="img-responsive center-block" src="{{ photo.thumbnail_url }}" /><br />
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
        {% for data_element in photo.data_elements %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ data_element.name }}</td>
                <td>{{ data_element.value }}</td>
        {% endfor %}
            </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
