{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method=POST class="form-inline" enctype=multipart/form-data action="{{ url_for('bp.upload') }}">
            <div class="form-group">
                <label for="inputFile">DICOM image</label>
                <input id="inputFile" type=file  name=photo><br />
                <input class="btn btn-default" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
{% endblock %}
